.mainContainer {
  background-image: linear-gradient(to top, #06071f 0%, #0c0c40 100%);
  max-width: 640px;
  margin: 24px auto;
  padding: 32px 32px;
  border-radius: 24px;
  font-family: "Karla", sans-serif;
}

.form-inline {
  margin: 8px 0px 24px 0px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.form-control {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  background-color: #353563;
  border-color: #353563;
  width: 480px;
  margin: 0px 32px 0px 4px;
}

.btn-primary {
  background: #ec552b;
  border: none;
  border-radius: 8px;
  color: #06071f;
  padding: 16px 24px;
  float: right;
}
.btn-primary:hover {
  background: #ec552b;
  border: none;
  border-radius: 8px;
  color: #06071f;
  padding: 16px 24px;
  float: right;
}
